* {
	margin: 0px;
	padding: 0px;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.container::before {
    content: '';
    clear: both;
}
.container::after {
    content: '';
    clear: both;
    display: table;
}
.logo {
    float: left;
}
.logo img {
    width: 145px;
}
.main-nav {
    float: right;
    margin-top: 10px;
}
.main-nav ul li {
    display: inline-block;
}
.main-nav ul li a {
    padding: 10px 15px;
    color: #c4c4c4;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
.main-nav ul li a:hover {
    color: #ff4d5a;
}
.main-nav ul li.active a {
    color: #ff4d5a;
}
#top-nav {
    padding: 30px 0;
    background-color: #1c1c1c;
}


/*2*/
.main {
    position: relative;
    display: block;
    background-color: #1f1f1f;
}
.content {
    padding: 60px 0;
    color: #d0d0d0;
    text-align: center;
}
h1.open {
    padding-bottom: 20px;
    color: #d0d0d0;
    font-size: 62px;
    font-weight: 300;
}
p.description {
    margin-bottom: 50px;
    color: #d0d0d0;
    font-size: 42px;
    font-weight: 300;
}
.button-header {
    padding: 16px 35px;
    background-color: #f74d4c;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
}

/*3*/
.botom-bar {
    text-align: center;
    display: inline-flex;
    padding: 65px;
}
.menu {
   display: block;
   padding: 20px;
   text-align: center;
   max-width: 185px;
   margin: 30px 28px;
}
.menu img {
    padding-bottom: 10px;
    width: 62px;
    height: 56px;
}
.menu h2 {
    color: #505050;
   padding: 5px; 
}
.menu p {
    color: #7c7c7c;
    font-size: 13px;
    line-height: 2;
    word-wrap: break-word;
}
#nope {
    text-align: center;
    background-color: #f8f8f8;
}




































